.App {
  text-align: center;
  height: '100%';
}
.App main{
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 62px;
  bottom: 10px;
  left: 5px;
  right: 5px;
  padding: 30px 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiAppBar-colorPrimary{
  background-color: #5d1979 !important;
}
.user_drawer-bar{
  background-color: #5d1979 !important;
  color: #FFF !important;
}

.form-empresa > div{
  margin: 10px;
}
